*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(U3SZ3QIF2VBV3MUMM3UZNONJX4.jpg);
    background-position: center;
    background-size: cover;
    height: 110vh;
}
